%h1.ui.header Opening a new support ticket

= render 'tickets/form'

#new-ticket-feedback{ ng_show: 'ticket_form_ctrl.hasBeenCreated' }
  .ui.large.blue.message
    Thank you for you feedback. A team of highly trained monkeys has been dispatched to deal with this situation.

  = link_to 'Back to tickets list', '/'
