#show-ticket
  .ui.mini.red.button#close-ticket-button{ ng_click: 'ticket_ctrl.closeThisTicket()',
                                      ng_show: 'ticket_ctrl.ticket.is_open' }
    Close this ticket

  .ui.mini.basic.button#edit-ticket-button{ ng_click: 'ticket_ctrl.editTicket()',
                                       ng_show: 'ticket_ctrl.ticket.is_open' }
    Edit

  = render '/tickets/info'
