#show-ticket
  %h1.ui.header
    {{ ticket_ctrl.ticket.title }}
    .status.ui.label{ ng_class: "{ 'orange': ticket_ctrl.ticket.is_open, 'green': ticket_ctrl.ticket.is_closed }" }
      {{ ticket_ctrl.ticket.status }}

    .sub.header {{ ticket_ctrl.ticket.created_at | elapsed_time }}

  %pre {{ ticket_ctrl.ticket.description }}

  = link_to 'Back to tickets list', '#/admin/tickets'

  .ui.divider

  .ui.red.button#close-ticket-button{ ng_click: 'ticket_ctrl.closeThisTicket()',
                                      ng_show: 'ticket_ctrl.ticket.is_open' }
    Close this ticket

  .ui.info.message#closed-ticket-message{ ng_show: 'ticket_ctrl.ticket.is_closed' }
    This ticket has been closed {{ ticket_ctrl.ticket.closed_at | elapsed_time }}
